@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base Styles */
@layer base {
  h1 {
    @apply text-dark text-4xl font-bold leading-[55px];
  }

  h2 {
    @apply text-dark text-[20px] font-semibold;
  }
  p {
    @apply text-dark-200 leading-primary;
  }
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 227 80 58;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

/* Custom Utilities */
@layer utilities {
  /* Wraper */
  .wrap1 {
    @apply mx-auto max-w-[1200px] px-4;
  }
  /* Gradients */
  .g1 {
    background: linear-gradient(to right, #57007b, #f76680);
  }
  .g2 {
    background: linear-gradient(to top right, #57007b, #6675f7);
  }
  .g3 {
    background: linear-gradient(to top right, #57007b, #f76680);
  }

  /* Typography */
  .gradientText {
    background: linear-gradient(to right, #de4396, #f76680);
    @apply bg-clip-text text-transparent;
  }
  .para1 {
    @apply leading-primary text-[18px];
  }
  .para2 {
    @apply leading-secondary text-[14px];
  }
}

/* styles.css */
.custom-swiper .swiper-pagination {
  position: relative;
  margin-top: 3rem;
}

.custom-swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #ddd;
  opacity: 1;
  margin: 0 8px !important;
  transition: all 0.3s ease;
}

.custom-swiper .swiper-pagination-bullet:hover {
  transform: scale(1.2);
  background: #999;
}

.custom-swiper .swiper-pagination-bullet-active {
  background: linear-gradient(to top right, #57007b, #f76680) !important;
  width: 30px;
  border-radius: 6px;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
